@model LibraryManagementSystem.Models.BookResponseModel


<dl class="row">
    <dt class="col-sm-2">
        Data:
    </dt>
    <dd class="col-sm-10">
        @Model.Data
    </dd>
</dl>

<button style="background-color:aquamarine;"><a asp-action="Index">Back to List</a></button>