@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}

<div class="text-center">
    <img src="~/myImages/Library-Management-System.jpg" style="width:100%; height:700px" />
    
</div>

