@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}


    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="~/vendors/images/banner-img.png" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back <div class="weight-600 font-30 text-blue">@User.Identity.Name!</div>
                    </h4>
                    <p class="font-18 max-width-600">This specialize bus services is apt for peculiar customers. It closes your day in one city and opens it in another to give you a feel of the dynamic ambience of two cities in one great experience of fulfillment on wheels.</p>
                </div>
            </div>
        </div>

        <div class="footer-wrap pd-20 mb-20 card-box">
            E-Transport Admin Designed By CodeLearners
        </div>
    </div>
<!-- js -->