@{

    ViewData["Title"] = "Home Page";
}
<div class="hero-content">
    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                        <header class="entry-header">
                            <h4>Get started with online books</h4>
                            <h1>best online<br />Library system</h1>
                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>An integrated library system (ILS), also known as a library management system (LMS), with an enterprise resource in planning system for a library, used to track items owned, orders made, bills paid, and patrons who have borrowed</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer read-more">
                            <a href="#">read more</a>
                        </footer><!-- .entry-footer -->
                    </div><!-- .hero-content-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-content-hero-content-overlay -->
</div>

<section class="featured-courses vertical-column courses-wrap">
    <div class="container">
        <div class="row mx-m-25">
            <div class="col-12 px-25">
                <header class="heading flex flex-wrap justify-content-between align-items-center">
                    <h2 class="entry-title">Featured Books</h2>

                    <nav class="courses-menu mt-3 mt-lg-0">
                        <ul class="flex flex-wrap justify-content-md-end align-items-center">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">C#</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">NodeJs</a></li>
                        </ul>
                    </nav><!-- .courses-menu -->
                </header><!-- .heading -->
            </div><!-- .col -->
            <!-- .col -->
            <div class="col-12 px-25 flex justify-content-center">
                <a class="btn" href="#">view all courses</a>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section class="featured-courses horizontal-column courses-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="heading flex justify-content-between align-items-center">
                    <h2 class="entry-title">Featured Courses</h2>

                    <a class="btn mt-4 mt-sm-0" href="#">view all</a>
                </header><!-- .heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content flex flex-wrap justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                        <a href="#"><img src="images/1.jpg" alt=""></a>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <div class="course-ratings flex align-items-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>

                                <span class="course-ratings-count">(4 votes)</span>
                            </div><!-- .course-ratings -->

                            <h2 class="entry-title"><a href="#">The Complete Android Developer Course</a></h2>

                            <div class="entry-meta flex flex-wrap align-items-center">
                                <div class="course-author"><a href="#">Ms. Lara Croft </a></div>

                                <div class="course-date">July 21, 2018</div>
                            </div><!-- .course-date -->
                        </header><!-- .entry-header -->

                        <footer class="entry-footer flex justify-content-between align-items-center">
                            <div class="course-cost">
                                <span class="free-cost">Free</span>
                            </div><!-- .course-cost -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content flex flex-wrap justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                        <a href="#"><img src="images/2.jpg" alt=""></a>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <div class="course-ratings flex align-items-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>

                                <span class="course-ratings-count">(4 votes)</span>
                            </div><!-- .course-ratings -->

                            <h2 class="entry-title"><a href="#">Learn Photoshop, Web Design & Profitable</a></h2>

                            <div class="entry-meta flex flex-wrap align-items-center">
                                <div class="course-author"><a href="#">Mr. John Wick</a></div>

                                <div class="course-date">Aug 21, 2018</div>
                            </div><!-- .course-date -->
                        </header><!-- .entry-header -->

                        <footer class="entry-footer flex justify-content-between align-items-center">
                            <div class="course-cost">
                                $32 <span class="price-drop">$59</span>
                            </div><!-- .course-cost -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<div class="icon-boxes">
    <div class="container-fluid">
        <div class="flex flex-wrap align-items-stretch">
            <div class="icon-box">
                <div class="icon">
                    <span class="ti-user"></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Learn From The Experts</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div><!-- .entry-content -->

                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span class="ti-folder"></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Book Library & Store</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div><!-- .entry-content -->

                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span class="ti-book"></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Best Course Online</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div><!-- .entry-content -->

                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span class="ti-world"></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Best Industry Leaders</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div><!-- .entry-content -->

                <footer class="entry-footer read-more">
                    <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                </footer><!-- .entry-footer -->
            </div><!-- .icon-box -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div>
<section class="testimonial-section">
    <!-- Swiper -->
    <div class="swiper-container testimonial-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="images/user-1.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Together as teachers, students and universities we can help make this education available for everyone.</p>
                            </div><!-- .entry-content -->

                            <div class="entry-footer">
                                <h3 class="testimonial-user">Russell Stephens - <span>University in UK</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->

            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="images/user-2.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div><!-- .entry-content -->

                            <div class="entry-footer">
                                <h3 class="testimonial-user">Robert Stephens - <span>University in Oxford</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->

            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 flex order-2 order-lg-1 align-items-center mt-5 mt-lg-0">
                            <figure class="user-avatar">
                                <img src="images/user-3.jpg" alt="">
                            </figure><!-- .user-avatar -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                            <div class="entry-content">
                                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div><!-- .entry-content -->

                            <div class="entry-footer">
                                <h3 class="testimonial-user">James Stephens - <span>University in Cambridge</span></h3>
                            </div><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .testimonial-slider -->
</section>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 align-content-lg-stretch">
                <header class="heading">
                    <h2 class="entry-title">About Ezuca</h2>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                </header><!-- .heading -->

                <div class="entry-content ezuca-stats">
                    <div class="stats-wrap flex flex-wrap justify-content-lg-between">
                        <div class="stats-count">
                            50<span>M+</span>
                            <p>STUDENTS LEARNING</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            30<span>K+</span>
                            <p>ACTIVE COURSES</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            340<span>M+</span>
                            <p>INSTRUCTORS ONLINE</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            20<span>+</span>
                            <p>Country Reached</p>
                        </div><!-- .stats-count -->
                    </div><!-- .stats-wrap -->
                </div><!-- .ezuca-stats -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
                <div class="ezuca-video position-relative">
                    <div class="video-play-btn position-absolute">
                        <img src="images/video-icon.png" alt="Video Play">
                    </div><!-- .video-play-btn -->

                    <img src="images/video-screenshot.png" alt="">
                </div><!-- .ezuca-video -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
