<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                    <h1 class="tagcolor" style="color:aqua">Create</h1>
                    <p class="tagcolor" style="color:burlywood">Please fill in this form to login.</p>
                    <hr class="tagcolor" style="color:mediumaquamarine">

                </div>
                <form asp-action="Login" class="needs-validation">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p class="alert alert-warning alert-dismissible" role="alert"> @ViewBag.Message</p>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="control-label"> Email</label>
                            <input class="form-control" placeholder="Enter Email" name="email" type="text" required />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label"> Password</label>
                            <input class="form-control" placeholder="Enter Password" name="password" type="password" required />
                        </div>
                    </div>


                    <div class="form-group ">
                        <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>